body {
  background-image: url(img/sfondoLogin.avif);
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: serif, Helvetica, Arial;
}

.subtitle {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: serif, Helvetica, Arial;
}